/*  Inicializacion  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* .body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 } */

 /* Color de fondo de la barra de navegacion */
 .btn-outline:hover {
    background-color: #28a745;
    color: #fff; 
}

/* Desactivo el subrayado */
.txt-verde {
  color: #28a745 !important;
}

.txt {
  text-decoration: none;
}

/* Activo el subrayado y cambio el color */
.txt-outline:hover {
  color: #28a745 !important;
  text-decoration: underline;
  text-decoration-color: #28a745;
}